[Unit]
Description=Run the Коли Світло mirror every 2 minutes

[Timer]
OnCalendar=*:0/2
RandomizedDelaySec=20
AccuracySec=10s
Persistent=false

[Install]
WantedBy=timers.target
